@page
@model FrontEnd.Pages.CMunicipio.DeleteModel
@{
    ViewData["Title"]="Eliminar Municipio";
}

<h2>Eliminar Municipio</h2>
@if(ViewData["Error"]==null){
    <h3 class="text-danger">¿Esta seguro de eliminar este registro?</h3>
}else{
    <h4 class="text-danger">@ViewData["Error"]</h4>
}

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Delete">
            <div class="form-group">
                <label asp-for="municipio.Id" class="control-label"></label>
                <input asp-for="municipio.Id" class="form-control" readonly/>
            </div>
            <div>
                <label asp-for="municipio.Nombre" class="control-label"></label>
                <input asp-for="municipio.Nombre" class="form-control" readonly/>
            </div>
            <div>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-page="Index" class="btn btn-info">Regresar</a>
            </div>

        </form>
    </div>
</div>
