@page
@model FrontEnd.Pages.CMunicipio.IndexModel
@{
    ViewData["Title"]="Index para Municipios";
    /*Hay que agregar las referencias con Persistencia y con el Dominio
    haciendo uso del "dotnet add reference ..\Persistencia\" , e igualmente hacerlo
    pero con el dominio */
}

<h1>Municipios</h1>
    <p>
        <a asp-page="Create" class="btn btn-success">Crear Municipio</a><!--El 'asp-page' permite redireccionarnos a la página Create
                                                en CMunicipio !-->
    </p>
    <table class="table">
        <thead><!--Encabezado!-->
            <tr><!--Fila!-->
                <th>Id</th><!--th porque estamos en una cabecera, es como el título de la tabla mejor dicho!-->
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mun in Model.Municipios)//Municipios es el IEnumerable que tenemos
            {
                <tr>
                    <td>@mun.Id</td>
                    <td>@mun.Nombre</td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary">Editar</a>
                        <a asp-page="./Details" class="btn btn-info">Detalles</a>
                        <a asp-page="./Delete" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>   
            }
        </tbody><!--Cuerpo de la tabla!-->
    </table>