@page
@model Frontend.Pages.CEscenario.DeleteModel
@{
    ViewData["Titulo"]= "Eliminar Escenario";
}

<h2>@ViewData["Titulo"]</h2>
<h3 class="text-danger">Esta seguro de Eliminar este registro?</h3>
<h3 class="text-danger">@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Escenario.Id"/>

                <div class="form-group">
                    <label asp-for="Escenario.Nombre" class="control-label"></label>
                    <input asp-for="Escenario.Nombre" class="form-control" readonly/>
                    <span asp-validation-for="Escenario.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Escenario.Espectadores" class="control-label"></label>
                    <input asp-for="Escenario.Espectadores" class="form-control" readonly/>
                    <span asp-validation-for="Escenario.Espectadores" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Escenario.Tipo" class="control-label"></label>
                    <input asp-for="Escenario.Tipo" class="form-control" readonly/>
                    <span asp-validation-for="Escenario.Tipo" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-page="Index" class="btn btn-info">Cancelar</a>
                </div>
            </form>
        </div>
    </div>    
</div>
