@page
@model Frontend.Pages.CUnidadDeportiva.CreateModel
@{
    ViewData["Title"]="Crear Unidad deportiva";
}

<h2>Adicionar Unidad deportiva</h2>
<h3 class="text-danger">@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UnidadDeportiva.Nombre" class="control-label"> </label>
                    <input asp-for="UnidadDeportiva.Nombre" class="form-control" />
                    <span asp-validation-for="UnidadDeportiva.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UnidadDeportiva.Direccion" class="control-label"> </label>
                    <input asp-for="UnidadDeportiva.Direccion" class="form-control" />
                    <span asp-validation-for="UnidadDeportiva.Direccion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear"  class="btn btn-success"/>
                    <a asp-page="Index" class="btn btn-info">Cancelar </a>
                </div>

            </form>
        </div>
    </div>
</div>

